:root {
  --white-color: #fff;
  --text-color: #1a712e;
  --main-color: #0c1d2e;
  --accent-color: #fa5555;
  --border-color: #eeeeee;
  --main-turquoise: #1a712e;
  --main-background: #f6f9f9;
  --input-background: #fbf8f2;
  --image-background: #f7f7fd;

  --header-height: 100px;
  --footer-height: 70px;

  @media screen and (max-width: 767px) {
    --footer-height: 75px;
  }

  --screen-width: 650px;
}
